#======== File I/O ===============
InputFile                     : HEVC_yuv/RExt_RGB/Traffic_2560x1600_30_12bit_444.rgb
InputBitDepth                 : 12          # Input bitdepth
InputChromaFormat             : 444         # Ratio of luminance to chrominance samples
FrameRate                     : 30          # Frame Rate per second
FrameSkip                     : 0           # Number of frames to be skipped in input
SourceWidth                   : 2560        # Input  frame width
SourceHeight                  : 1600        # Input  frame height
FramesToBeEncoded             : 150         # Number of frames to be coded
VuiParametersPresent          : 1           # Signal that VUI parameters are to be encoded (needed for signalling the RGB channel order)
VideoSignalTypePresent        : 1           # Signal that video signal information is present in the VUI
ColourDescriptionPresent      : 1           # Signal that colour space information is present in the video signal information
MatrixCoefficients            : 255         # This value is used to indicate that the channels are in RGB (rather than GBR) order
